<section id="acerca">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 text-center"> <!-- Agregada la clase text-center -->
          <div id="perfil">
            <div class="perfil-foto">
              <img src="../assets/img/fotoperfil.jpg" alt="Foto de perfil" />
            </div>
            <div class="perfil-info">
              <h2>{{persona.nombre}}{{persona.apellido}}</h2>
              <hr class="perfil-separator" />
              <p>Edad: 27 años</p>
              <p>Ciudad: San Carlos Bolívar</p>
              <p>Provincia: Buenos Aires</p>
              <p>Correo: juanielizari@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div id="acerca-mi">
            <h2 class="section-heading text-uppercase">Acerca de mí</h2>
            <div class="divider-custom">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-line"></div>
            </div>
            <p class="lead">
              {{ persona.descripcion }}
            </p>
            <button class="btn btn-light" *ngIf="isLogged" [routerLink]="['/editar-acercami', persona.id]">Editar</button>
          </div>
        </div>
      </div>
    </div>
  </section>